* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  border-radius: 60%;
  height: 60px;
  width: 60px;
  margin-top: 20px;
  margin-left: 10px;
}
.home {
  display: inline;
  background-color: rgb(252, 222, 183);
}

.navbar {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar head {
  text-align: right;
  margin-top: 20px;
}
.navdiv {
  margin-top: 40px;
  padding-left: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.navbar :hover {
  background-color: black;
  color: white;
}
table {
  text-align: center;
}
td {
  padding: 10px;
}
.table2 {
  background-color: rgb(252, 222, 183);
}

.parent1 {
  display: flex;
  justify-content: space-between;
}
.parent2 {
  width: 250px;
  height: 200px;
}
.a {
  border: 1px solid rgba(0, 0, 0, 0.945);
  /* position: relative; */
  background-color: aliceblue;

  /* box-shadow:  */
}
.b {
  border: 1px solid rgba(0, 0, 0, 0.945);
  /* position: relative; */
  background-color: aliceblue;
}
.c {
  border: 1px solid rgba(0, 0, 0, 0.945);
  /* position: relative; */
  background-color: aliceblue;
}
.list {
  margin: 20px;
}

.box {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #fff;
  border: 2px solid #ccc;
  overflow: hidden;
  margin-top: 50px;
}

.moving-box {
  width: 50px;
  height: 50px;
  background-color: orange;
  position: absolute;
  top: 25px;
  left: 0;
  animation: moveRight 5s linear infinite;
}

@keyframes moveRight {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
    transform: translateX(-100%);
  }
}

.question8 {
    margin: 50px;
  width: 150px;
  height: 150px;
  background-color: #5639e6;
  border-radius: 10px;
  transition: transform 0.4s ease;
}

.question8:hover {
  transform: scale(1.2) rotate(10deg);
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.item-list li {
  padding: 10px;
  margin: 5px;
  background-color:lightpink;
}


.item-list li:nth-child(3n) {
  background-color:yellow;
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.color-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  animation: colorChange 8s linear infinite;
}

@keyframes colorChange {
  0%   { background-color: red; }
  25%  { background-color: yellow; }
  50%  { background-color: blue; }
  75%  { background-color: green; }
  100% { background-color: red; }
}

.div {
  height: 150vh;
  width: 100%;
}
.one {
  background-color: green;
  position: sticky;
  top: 0;
}
.two {
  background-color: red;
  position: sticky;
  top: 0;
}
.three {
  background-color: yellow;
  position: sticky;
  top: 0;
}
